html,body{
    font-family: 'Lato', 'Noto Sans TC' , sans-serif;
    margin: 0;
    padding: 0;
    color: #333333;
    background-color: #f6f7f8;
}

hr {
    border: 0px;
    height: 1px;
    background: #cccccc;
    margin: 20px 0;
  }
h2{
    font-size: 32px;
    margin: 24px 0 8px;
}

h3{
    font-size: 21px;
    margin: 0 0 8px;
    font-weight: 500; 
}

section{
    margin-bottom: 48px;
}

p{
    color: #666666; 
}

header{
    height: 60px;
    color: #666666;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,0.08);
    nav{
        max-width: 820px;
        margin: 0 auto;
        height: 100%;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .nav-title{
            font-weight: bold;
            letter-spacing: 1px;
        }
        .nav-link{
            color: #666666;      /* 覆蓋超連結的預設藍色 */
        }
    }
}


main{
    max-width: 780px;
    margin: 0 auto;
    padding: 40px 20px;
    section.personal-info{
        div.avatar{
            text-align: center;
            img{
                border-radius: 50%;
            }
            h1.name{
                text-align: center;
                font-size: 32px;
                margin: 20px 0;
            }
            div.social-media{
                text-align: center;
                margin-bottom: 20px;
            }
            a.social-media-link{
                color: #999999;
                text-decoration: none;
                margin: 0 5px;
            }
            a.social-media-link:hover{
                color: #ff6600;
            }
            div.title{
                color: #ff6600;
                margin-bottom: 20px;
                font-size: 14px;
                letter-spacing: 2px;
            }
        }
    }
    section.skill-section{
        div.skills{
            display: flex;
            justify-content: space-between;
            div.skill{
                padding-top: 16px;
                border-top:1px solid #999999 ;
                width: 30%;
            }
        }
    }
    section.experience-section{
        div.experience-item{
            span.company, span.duration{
                color: #666666;
                font-size: 12px;
                margin-right: 20px;
                i{
                    margin-right: 5px;
                }

            }
        }
    }
}


