body {
  font-family: "Nunito Sans", sans-serif;
}

.paoke-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2px;
}

.paoke-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 7%;
      -ms-flex: 7% 1 1;
          flex: 7% 1 1;
  border: 2px solid #e0e0e0;
  border-radius: 0.125rem;
  height: 8vw;
}

.paoke-card p {
  margin: 4px;
  font-size: 10px;
}

.paoke-card p:first-child {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.paoke-card img {
  max-width: 30%;
}

.paoke-card p:last-child {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -ms-flex-item-align: end;
      align-self: flex-end;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 91%;
}

header .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .title img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 70px;
}

header .title h2 {
  padding-left: 0.5rem;
}

header .title .score {
  margin: 0;
  color: #6c90ac;
}

header .title .tried {
  margin-top: 0;
}

.container {
  margin: 0 auto;
  max-width: 1320px;
  padding: 0 12px;
}

.back {
  background: url("https://assets-lighthouse.alphacamp.co/uploads/image/file/9222/ExportedContentImage_00.png");
  background-size: cover;
}

.paired {
  background-color: #dae0e3;
}

.wrong {
  -webkit-animation-name: wrongAnimation;
          animation-name: wrongAnimation;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-iteration-count: 5;
          animation-iteration-count: 5;
}

@-webkit-keyframes wrongAnimation {
  to {
    border: 2px solid #ffd54f;
  }
}

@keyframes wrongAnimation {
  to {
    border: 2px solid #ffd54f;
  }
}

/** Game finished **/
.completed {
  position: absolute;
  z-index: 999;
  top: 33vh;
  background-color: RGBA(232, 246, 254, 0.8);
  width: 100vw;
  padding: 50px 0;
}

.completed > p {
  font-size: 1.5em;
  color: black;
  text-align: center;
  margin: 0;
}

.completed > p:first-child {
  font-size: 3em;
  font-weight: 700;
  color: #758d9a;
}
/*# sourceMappingURL=all.css.map */